.darkgray-text {
    background-color: #242424;
    padding: 40px 0;

    p {
        color: white;
    }

    picture {
        display: none;
    }

    .conclusion__logo {
        display: block;
    }
}